{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}
Project Manager | Task | Index
{% endblock %}



{% block body %}

            {% if request.user.is_authenticated %}
                {% for task in task_list %}

                    id : {{ task.t_id }}
                    project : {{ task.t_project }}
                    name : {{ task.t_name }}

                    begin : {{ task.t_begin }}
                    end : {{ task.t_end }}
                    status : {{ task.t_status }}

                    <a href="{{ task.get_work_url }}"><button class="btn btn-primary pull-right">incele ve al</button></a></h1>


                    <br><br>
                {% endfor %}
            {% else %}
                 giriş yapılmaış
            {% endif %}



{% endblock %}
