{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}
Project Manager | Employee | Index
{% endblock %}



{% block body %}

            {% if request.user.is_authenticated %}

                    <h2>last_login : {{ employee.last_login }}<br></h2>
                    <h2>is_superuser : {{ employee.is_superuser }}<br></h2>
                    <h2>username : {{ employee.username }}<br></h2>
                    <h2>first_name : {{ employee.first_name }}<br></h2>
                    <h2>last_name : {{ employee.last_name }}<br></h2>
                    <h2>email : {{ employee.email }}<br></h2>
                    <h2>date_joined : {{ employee.date_joined }}<br></h2>
                    <h2>phone : {{ employee.e_phone }} <br></h2>
                    <h2>date_left : {{ employee.e_date_left }}<br></h2>
                    <h2>qualification : {{ employee.e_qualification }}<br></h2>
                    <h2>groups : {{ employee.groups }}<br></h2>
                    <h2>user_permissions : {{ employee.user_permissions }}

                        <br><br>#suan calıştığı işlker burda gözğükeck

            {% else %}
                 giriş yapılmaış
            {% endif %}



{% endblock %}
