{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}
Project Manager | Employee | Update
{% endblock %}


{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Employee Update</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <input class="btn btn-primary" type="submit" value="Update">
                </form>
            </div>
        </div>
    </div>

{% endblock %}



