{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}
Project Manager | Fault | Add
{% endblock %}



{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Add Fault</h1>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    # yapılcak bütün tasar gözükyğyo
                    {{ form|bootstrap }}
                    <input class="btn btn-primary" type="submit" value="Add Fault">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
